:root {
  --dark-blue: #05012e;
  --light-gray: #dbdde6;
  --light-blue: #4075df;
  --blue: #0f2b66;
  --light-yellow: #f3eeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:var(--light-yellow);
  color: white;
  overflow: hidden;
}

#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
}

.header__logo {
  width: 80px;
  height: 90px;
  margin-left: 60px;
  margin-top: 5px;
}

.header__search {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.header__search--searchBar {
  width: 600px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  font-size: 15px;
  border: solid;
  border-width: 2px;
  border-color: var(--light-blue);
}

.header__search--button {
  background-color: var(--light-blue);
  border: solid;
  border-width: 2px;
  border-color: var(--light-blue);
  width: 50px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.header__search--buttonIcon {
  color: var(--blue);
  height: 20px;
  margin-top: 7px;
}

.content {
  display: flex;
  height: 100vh;
}

.tab {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  align-items: center;
  padding-top: 70px;
  row-gap: 40px;
}

.tab__button {
  width: 175px;
  height: 55px;
  border-radius: 10px;
  background-color: var(--light-blue);
  cursor: pointer;
  transition: 0.2s;
}

.tab__button:hover {
  background-color:#2e5ab3;
}

.tab__button--content {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  column-gap: 30px;
}

.tab__button--icon {
  height: 30px;
  width: 30px;
}

.screen {
  width: 100%;
  height: calc(100% - 75px);
  overflow: auto;
}

.screen__button {
  padding: 20px 0px 0px 50px;
}

.screen__card {
  background-color: white;
  color: black;
  height: auto;
  margin: 30px 50px 50px 50px;
  border-radius: 20px;
  padding: 25px;
  font-size: 20px;
  word-wrap: break-word;
  display: block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
}

.screen__card p {
  color: var(--light-blue);
  margin-bottom: 5px;
}

.card__header {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: solid;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
}

.card__adress {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 20px;
}

.card__street {
  width: 45%;
  line-clamp: 1;
  border-bottom: solid;
  border-width: 1px;
  word-break: break-all;
}

.card__number {
  width: 10%;
  border-bottom: solid;
  border-width: 1px;
}

.card__neighborhood {
  width: 45%;
  line-clamp: 1;
  border-bottom: solid;
  border-width: 1px;
  word-break: break-all;
}

.card__observations {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: solid;
  border-width: 1px;
}

.card__management {
  display: flex;
  column-gap: 40px;
}

.card__icon {
  cursor: pointer;
  height: 30px;
  transition: 0.2s;

}

.card__icon:hover {
  color: var(--light-blue)
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.delete {
  background-color: var(--light-yellow);
  margin-top: calc(100vh - 32.6431%);
  margin-left: 600px;
  width: 800px;
  height: 300px;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  border-radius: 20px;
}

.delete p {
  font-size: 30px;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.modal__confirm {
  display: flex;
  background-color: var(--light-blue);
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  column-gap: 10px;
  transition: 0.2s;
}

.modal__confirm:hover {
  background-color:#2e5ab3;
}

.modal__cancel {
  display: flex;
  background-color: rgb(255, 0, 0);
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  column-gap: 10px;
  transition: 0.2s;
}

.modal__cancel:hover {
  background-color: rgb(172, 1, 1);
}

.edit {
  background-color: var(--light-yellow);
  margin-top: calc(100vh - 36%);
  margin-left: 500px;
  width: 1000px;
  height: 500px;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  border-radius: 20px;
}

.edit p {
  font-size: 30px;
}
